* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

:root {
    --bg-color: #F9FBFE;
    --secound-bg-color: #191919;
    --text-color: #2B546A;
    --secound-color: #c6c9d8bf;
    --main-color: #30C8D6;
}

body {
    font-family:  'Lato', sans-serif;
    color: var(--bg-color);
    overflow-x: hidden;
    max-width: 100%;
}

nav {
    display: flex;
    background-color: #ffffff;
    justify-content: space-between;
    padding: 20px 0; 
    color: var(--text-color);
    height: 60px;
    align-items: center;
}

nav .logo .fotologo {
    width: 60px;
    height: 60px;
}

nav ul {
    display: flex;
    list-style: none;
    width: 8%;
    margin-left: -1800px;
    margin-top: 10px;
    justify-content: space-between;
}

nav ul li a {
    color: #2B546A;
    text-decoration: none;
    font-size: 0.8em;
    font-weight: 450;
    font-size: 14px;
}

/* search */
nav .searchicon{
    color: #9EA0A3;         
    margin-left: 90px;
    position: absolute;
}


nav .search-box .search {
    background-color: #E3EEFF;
    width: 250px;
    height: 35px;
    margin-left: -1020px;
    border-radius: 30px;
    padding-left: 40px;
    border: none;
    color: #9EA0A3;
    font-weight: 540;
}

/* CARD ARTIKEL */
.container .card {
    width: 70%;
    height: 1800px;
    border-radius: 0%;
    position: absolute;
    margin-left: 120px;
    margin-top: -250px;

}

.container .card .content-card {
    align-items: center;
    text-align: center;
    margin-top: 40px;
}

.container .card .content-card .foto-code {
    margin-top: 80px;
}

.container .card .content-card h1 {
    color: var(--text-color);
    font-weight: 450;
    letter-spacing: 0.2px;
}

.container .card .content-card .nav-photo {
    margin-top: 40px;
}

.container .card .steps {
    text-align: left;
    margin-top: 40px;
    margin-left: 120px;
}

.container .card .steps p {
    font-size: 20px;
    color: #6783A0;
    letter-spacing: 0.5px;
}

.container .card .steps .paragraph-team h4 {
    color: var(--text-color);
    font-size: 28px;
    font-weight: 500;
}

.container .card .steps .paragraph-team p {
    margin-top: 20px;
}

.container .card .steps .paragraph-team{
    margin-top: 40px;
}

/* FOOTER! */
.container .imagebox {
    margin-top: 80px;
}

.container .contentfoot {
    display: flex;
}

.container .contentfooter {
    margin-left: 350px;
    margin-top: 80px;
    display: flex;
}


.container .contentfooter .paragraph {
    margin-top: 40px;
}

.container .row1 {  
    margin-left: 80px;
}

.container .row1 .line{  
    width: 50px;
    height: 2px;
    background-color: rgb(124, 124, 211);
}

.container .contentfooter p {
    color: var();
}


/* CARD CONETNT-CARD */
.container .content-bottom {
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

.container .content-bottom .card {
    margin-top: 100px; 
    height: 280px;
    border-radius: 8px;
    border: none;
    box-shadow: 2px 2px 8px 2px #d7d7d7;
}

.container .content-bottom .card input {
    width: 85%;
    margin-left: 80px;
    margin-top: 20px;
    color: #9EA0A387;
    border-radius: 30px ;
    border: 2px solid #9EA0A387;
    padding: 12px 40px 12px 20px;
}

.container .content-bottom .card .content-value {
    text-align: left;
    margin-left: 80px;
    line-height: 40px;
    margin-top: 40px;
}

.container .content-bottom .card .content-value h5 {
    color: var(--text-color);
}

.container .content-bottom .card .content-value p {
    font-size: 20px;
    color: #9EA0A3;
}

.container .content-bottom .card .content-value .star {
    width: 200px;
    height: 34px;
}

.container .profile {
    margin-top: 450px; 
    position: absolute;
    margin-left: 110px;
}

.container .profile .wrapper {
    margin-top: 80px;
}

.container .profile .wrapper2 {
    margin-left: 80px;
}

.container .profile .top {
    display: flex;
}

.container .profile .top .hal-l {
    width: 24px;
    height: 44px;
}

.container .profile .p-long {
    margin-left: 10px;
    margin-top: 10px;
}

.container .profile .p-long p {
    color: #6783A0;
}

.container .profile .p-long .button {
    margin-top: 20px;
}

.container .profile .p-long a {
    text-decoration: none;
    color: white;
    background-color: var(--text-color);
    padding: 4px 60px 6px 60px;
    border-radius: 100px;
}

.container .profile .paragraph-info {
    line-height: 12px;
    margin-top: 5px;
    margin-left: 20px;
}

/* responsive */

/* ukr tablet */
@media screen and (max-width: 768px) {
    nav ul {
        width: 50%;
    }
}

/* ukr movile */
@media screen and (max-width: 576px) {
    nav ul {
        display: flex;
    }
    nav ul {
        position: absolute;
        right: 0;
        top: 0;
        width: 80%;
        height: 100vh;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        background-color: var(--text-color);
        z-index: -1;
        transform: translateX(100%);
        transition: all 1s;
        opacity: 0;
    }

    nav ul.slide {
        opacity: 1;
        transform: translateX();
    }


}